site_name: WBGshare
theme:
  name: material
  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - content.code.select
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
      primary: brown
      accent: brown
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
      primary: brown
      accent: brown
  font:
      text: Merriweather
      code: Roboto Mono

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/WBGZDTSL
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/aaron-wei-3a6332242

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg


copyright: 2026 <a href="https://github.com/WBGZDTSL/WBGShare" target="_blank" rel="noopener">Bangguo Aaron Wei</a>